.ant-layout-content {
    flex: auto;
    min-height: 0;
    padding:0 80px 0 80px;
}
.site-card-wrapper{
width: 100%;
display: inline-block;
}
.ant-image-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.ant-card-hoverable{
    margin: 0 auto;
}
.ant-card-hoverable {
    border-radius: 9px;
    cursor: pointer;
    transition: box-shadow 0.3s, border-color 0.3s;
    background-color: #dcddde;
}